@import './button.scss';
@import './input.scss';
@import './layout.scss';
@import './menu.scss';
@import './table.scss';
@import './typography.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

html, body {
  background-color: $background-primary-color;

  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: bold;

  overflow: hidden;

  font-family: Lato, 'sans-serif';
  font-size: .9em;
}
